.wrapper {
  background-image: url(images/sunny-day.jpg);
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
}
.img{
  background-image: url(images/kitten-medium.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: 30%;
}

 @media screen and (max-width: 900px) {
  .wrapper {
    background-image: url(images/night.jpg);
  }
  .img{
    background-image: url(images/kitten-small.png);
}
 }
 @media screen and (max-width: 700px) {
  .wrapper{
    background-image: url(images/dawn.png);
  }
  .img{
    background-image: url(images/kitten-large.png);
  }
}  